* {
    font-family: 'Rock Salt', cursive;
    color: #584b42;
}

p {
    font-family: 'Neucha', cursive ;
}



.top_head  {
    background-color: #537D91;
    padding: 0 2%;
    
}

.joke {
    display: flex;

}





.container {
    width: 880px;
    margin: 0 auto;
    background-color: #F77754;
}

.head {
    display:flex;
    justify-content: space-evenly;
    margin: 2% 0;
}

.top    {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #A4D1C8;
}

.team-top { padding: 2%;

}

.boxes { 
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 2%;
}

.box_ppl {
    border: solid .7rem #537D91 ;
    padding: 2%;
    border-radius: 5%;
    margin: 2%;
    justify-content: center;
    text-align: center;
    


}

img {
    padding: .5%;
}



.bank {
    padding: 0 2%;
}

.joke {
    padding: 0 2%;
}

.create {
    padding: 0 2%;
}



@media screen and (max-width: 500px){
    .container {
        width: 500px;
    }
    
    
    
    
    .boxes{
        display: flex;
        flex-direction: column;
        flex-shrink: 1/2;
    }


}

.joke button {
    border: solid 2% purple;
    border-radius: 5%;
}